.layout-wrapper {
  min-height: 100vh;
}

.layout-container {
  display: flex;
}



/* buttons css  */

.btn {
  padding: 5px 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 3px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  gap: 10px;
  transition: 300ms ease-in-out all;
  min-height: 40px;
  cursor: pointer;


}

.btn:hover {
  box-shadow: var(--highlight) 0px 2px 2px 0px, var(--highlight) 0px 0px 1px 0px;
}

.btn span {
  display: flex;
}

.btn img,
.btn svg {
  height: 30px;
  width: 30px;
  border-radius: 18px;
}